<% provide(:title, "Sign in") %>

<img src="/assets/orpheus.jpg" id="home_background">

<center>
  <div class="jumbotron_signin">
    <div class="span6 offset3">
      <br />
      <h1>Sign in</h1>
      <br />
      
      <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
      <% end %>
      <br />
      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
      <br />
    </div>
  </div>
</center>