<!DOCTYPE html>
<html ng-app="beer_app">
  <head>
    <title>Beer Cellar | <%= yield(:title) %></title>
    <%= stylesheet_link_tag    'application' %>
    <script src="/bower_components/angular/angular.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div ng-view>
      <%= render 'layouts/navigation' %>
      <%= flash[:notice] %>
      <%= yield %>
    </div>
  </body>
</html>